{% extends "base.html" %}

{% block title %}{{ practice.workout }}{% endblock %}

{% block main-content %}

<h2>
{{ practice.workout }}
</h2>
<div>
<a href="/workouts/{{ practice.workout.id }}/schedule/{{ practice.id }}">
{{ practice.date }} - 
{{ practice.time }}
</a>
<div>
<p id="notes">Notes: 
{{ practice.notes }}
</p>

<h3>Activities</h3>
{% include 'workouts/activities/list.html' with activities=practice.workout.plan.all %}

<div id="actions" class="actions">
  <a class="btn primary" href="/workouts/{{ practice.workout.id }}/schedule/{{ practice.id }}">Update Practice</a>
  <a class="btn primary" href="/workouts/{{ practice.workout.id }}/update">Update Workout</a>
</div>
{% endblock %}

