{% extends "base.html" %}

{% block title %}{{ practice.workout }}{% endblock %}

{% block main-content %}

<h2>
{{ practice.workout }}
</h2>
<div>
<a href="/workouts/{{ practice.workout.id }}/schedule/{{ practice.id }}">
{{ practice.date }} - 
{{ practice.time }}
</a>
<div>
<p id="notes">Notes: 
{{ practice.notes }}
</p>

<h3>Activities</h3>
{% include 'workouts/activities/list.html' with activities=schedule %}

<div id="actions" class="form-actions">
  <a class="btn btn-primary" href="{% url edit_practice practice.workout.id practice.id %}">Update Practice</a>
  <a class="btn btn-primary" href="{% url edit_workout practice.workout.id %}">Update Workout</a>
</div>
{% endblock %}

