{% extends "base.html" %}

{% block title %}Edit Workout{% endblock %}

{% block main-content %}
    <h2>Edit Workout</h2>
    <form action="{% url edit_practice workout.id practice.id  %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {% include "fragments/fields.html" %}

        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
            <button class="btn btn-danger" type="submit" name="cancel" value="cancel">Cancel Practice</a>
        </div>
    </form>
{% endblock %}
