{% extends "base.html" %}

{% block title %}Individual{% endblock %}

{% block main-content %}
<h3>{{ workout.name }} - Individual</h3>

<div>
{% if individual.date_complete %}
Completed on <a href="{% url edit_individual individual.id %}">{{ individual.date_complete }}</a>
{% else %}
Scheduled for <a href="{% url edit_individual individual.id %}">
    {{ individual.date_suggested }} at {{ individual.time_suggested }}
</a>
</div>
{% endif %}
<p id="notes">Notes: 
  {{ individual.notes }}
</p>
    
<h3>Activities</h3>
{% include 'workouts/activities/list.html' with activities=schedule %}
<div id="actions" class="form-actions">
  <a class="btn btn-primary" href="{% url edit_individual individual.id %}">Edit Individual</a>
  <a class="btn btn-primary" href="{% url edit_workout workout.id %}">Edit Workout</a>
</div>

{% endblock %}


