{% extends "base.html" %}

{% block title %}Edit Individual{% endblock %}

{% block main-content %}
<h2>Edit Individual</h2>
<form action="/workouts/individuals/{{ individual.id }}/update/" class="form-stacked" method="post">
{% csrf_token %}
    <fieldset>
      {{form.as_p }}
    </fieldset>
    <div id="actions" class="actions">
    <button class="btn primary" type="submit" >Save</button>
    <button class="btn danger" type="submit" name="cancel" value="cancel">Cancel Workout</a>
    </div>
</form>

{% endblock %}


