{% extends "base.html" %}

{% block title %}Homie{% endblock %}

{% block main-content %}

{% if team %}
    <h2><a href="/teams/{{ team.id }}/">{{ team.name }} {{ team.mascot }}</a></h2>

    <h3>Roster</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/teams/{{ team.id }}/captain/" method="post">
    {% csrf_token %}
    {% for player in team.player_set.all %}
        <input type="radio" name="player" id="player{{ forloop.counter }}" value="{{ player.id }}" />
        <label for="player{{ forloop.counter }}">{{ player.full_name }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>

{% else %}
    <p>Issue find team details...</p>
{% endif %}

{% endblock %}

