{% extends "base.html" %}

{% block title %}Homie{% endblock %}

{% block main-content %}

{% if team %}
    <h2><a href="/teams/{{ team.id }}/">{{ team.name }} {{ team.mascot }}</a></h2>

    <a href="/teams/{{ team.id }}/update">Edit Details</a>

    <h3>Roster</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ul>
    {% for player in team.player_set.all %}
        <li>
          {{ player.number }}. {{ player.position }} - <a href="/player/{{ player.id }}">{{ player.full_name }}</a>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <p>Issue finding team details...</p>
{% endif %}

{% endblock %}


