{% extends "base.html" %}

{% block title %}Homie{% endblock %}

{% block main-content %}

{% if team %}
    <h2><a href="/teams/{{ team.id }}/">{{ team.name }} {{ team.mascot }}</a></h2>

    <p>
        {{ team.location }}
    </p>
 
    <p>
        <a href="/teams/{{ team.id }}/update">Edit Details</a>
    </p>

    {% include 'workouts/practice_list_fragment.html' with practice_list=team.practice_set.all %}

    {% include 'teams/roster.html' with roster=team.player_set.all %}

{% else %}
    <p>Issue finding team details...</p>
{% endif %}

{% endblock %}


