{% extends "base.html" %}

{% block title %}New Workout{% endblock %}

{% block main-content %}
<h2>Setup Individual</h2>
<form action="/workouts/{{ workout.id }}/assign/" class="form-stacked" method="post">
{% csrf_token %}
    <fieldset>
      <div class="clearfix">
        <label for="players">Players:</label>
        <div class="input">
          <select name="player" id="players">
            <option value="">---------</option>
            {% for player in team.player_set.all %} {{ s }}
                <option value="{{ player.id }}" >{{ player.name_and_number }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="clearfix">
        <label for="date">Date</label>
        <div class="input">
          <input id="date" name="date_suggested" type="date" />
        </div>
      </div>
      <div class="clearfix">
        <label for="time">Time</label>
        <div class="input">
          <input id="time" name="time_suggested" type="time" />
        </div>
      </div>
    </fieldset>
    <div id="actions" class="actions">
    <button class="btn primary" type="submit" >Save</button>
    <a href="#" class="btn " >Cancel</a>
    </div>
</form>

{% endblock %}


