{% extends "base.html" %}

{% block title %}Homie{% endblock %}

{% block main-content %}

{% if workout %}
    <h3><a href="/workouts/{{ workout.id }}/">{{ workout.name }}</a></h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    Activities: {{ workout.step_set.all.count }}
    <ol>
    {% for step in workout.step_set.all %}
        <li>
          {{ step.activity }}
        </li>
    {% endfor %}
    </ol>

<nav class="action_links">
  <ul><li>
  <a href="/workouts/{{ workout.id }}/update">Update Workout</a></li>
  <li>
  <a href="/workouts/{{ workout.id }}/schedule">Schedule as Practice</a>
  </li>
  <li>
    <a href="/workouts/{{ workout.id }}/assign">Assign Players for Individuals</a>
  </li>
  </ul>
</nav>
{% else %}
    <p>Issue finding workout details...</p>
{% endif %}

{% endblock %}


