{% extends "base.html" %}

{% block title %}New Workout{% endblock %}

{% block main-content %}

<form action="/workouts/{{ id }}/update/" method="post">
{% csrf_token %}
{{ workout.as_p}}
<table><tbody>
  <tr>
    {% for s in steps %} {{ a }}
    <th>
      <label for="id_{{ forloop.counter }}-activities">Activities:</label>
      <input name="{{ forloop.counter }}-step_id" type="hidden" value="{{ s.id }}" />
    </th>
    <td>
      <select name="{{ forloop.counter }}-activities" id="id_{{ forloop.counter }}-activities">
        <option value="">---------</option>
      {% for a in activities %} {{ s }}
        <option value="{{ a.id }}" {% if s.activity == a %}selected="selected"{% endif %}>{{ a.name }}</option>
      {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <th><label for="id_{{ forloop.counter }}-position">Position:</label></th>
    <td><input type="text" name="{{ forloop.counter }}-position" value="{{ s.position }}" id="id_{{ forloop.counter }}-position" /></td>
  </tr>
    {% endfor %}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}


