{% extends "base.html" %}

{% block title %}Edit Team{% endblock %}

{% block main-content %}
    <h2>Team Edit</h2>
    <form action="{% url edit_team team.id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {% include "fragments/fields.html" %}

        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
            <button class="btn btndanger" type="submit" name="delete" value="delete">Delete</a>
        </div>
    </form>
{% endblock %}
{% block extra-js %}
<script>
  var $input = $("[name='color']");
  var colors = ['red', 'orange', 'gold', 'green', 'blue', 'purple'];
  var l = colors.length + 1;
  var divs = '';
  for(l >= 0; l = l - 1;){
    divs = divs + '<div class="' + colors[l - 1] + '-bg"></div>';
  }
  divs = '<div class="color-picker" >' + divs + '</div>';
  var $template = $(divs).hide();
  $input.after($template.css({ 
    'width': $input.width(),
    'margin-left': '2px'
  })
  );
  $input.click(function(){
    $(".color-picker").show();
  });
</script>
{% endblock %}

