{% extends "base.html" %}

{% block title %}Edit Team{% endblock %}

{% block main-content %}
    <h2>Team Edit</h2>
    <form action="{% url edit_team team.id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {% include "fragments/fields.html" %}

        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
            <button class="btn btndanger" type="submit" name="delete" value="delete">Delete</a>
        </div>
    </form>
{% endblock %}
{% block extra-js %}
<script>
  $(function(){
    function buildDivs(id){
      var colors = ['red', 'orange', 'gold', 'green', 'blue', 'purple'];
      var l = colors.length + 1;
      var divs = '';
      for(l >= 0; l = l - 1;){
        divs = divs + '<div class="' + colors[l - 1] + '-bg color" data-color="' + colors[l - 1] + '"></div>';
      }
      divs = '<div class="color-picker" data-color-picker-id="'+id+'">' + divs + '</div>';
      return $(divs).hide();
    }

    function removePicker(el){
      var id = el.attr('id');
      $('[data-color-picker-id="' + id + '"]').remove();
    }

    function showPicker(el){
      removePicker(el);
      var id = el.attr('id');
      var $template = buildDivs(id);
      el.after($template.css({ 
        'width': el.width(),
        'margin-left': '2px'
      })
      );
      $template.show();
    }

    $(document).delegate("[data-color-picker]", 'click', function(e){
      $this = $(this);
      showPicker($(this));
    });

    $(document).delegate('div.color', 'click', function(e){
      var $this = $(this);
      var val = $this.data('color');
      var $parent = $this.parent();
      var input_id = $parent.data('color-picker-id'); 
      $('#' + input_id).val(val.split('-')[0]);
      $($parent).remove();
    });
});
</script>
{% endblock %}

