{% extends "base.html" %}

{% block title %}Join{% endblock %}

{% block main-content %}
    <h2>Join your team</h2>
    <form action="{% url join_team %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {% include "fragments/fields.html" %}
        <div class="control-group">
          <div class="controls">
            <em>Dont' see your team?</em>
            <a href="{% url create_and_join_team %}">Add a new one</a>
          </div>
        </div>
        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
        </div>
    </form>
{% endblock %}


