{% extends "base.html" %}

{% block title %}{{ player.full_name }} {% endblock %}

{% block main-content %}

<section id="player">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h3>{{ player.number }}. {{ player.full_name }}</h3>
    
    <ul>
      <li>
         Position: {{ player.position }}
      </li>
      <li>
         Email: {{ player.user.email }}
      </li>
      <li>
        From: {{ player.location }}
      </li>
    </ul>

</section>

<div id="actions" class="actions">
  {% if team.id %}
  <a class="btn primary" href="/teams/{{ team.id }}/players/{{ player.id }}/update/">Update Player</a>
  {% else %}
  <a class="btn primary" href="/teams/new/?join=">Join Team</a>
  {% endif %}
</div>
{% endblock %}
