<section id="roster">
<ul>
{% for member in roster %}
  {% if member.number < 10 %}
  <li title="0{{ member.number }}">
  {% else %}
  <li title="{{ member.number }}">
  {% endif %}
    <a href="{% url user_details member.user.username %}">
      <h3>{{ member.first_name }}</h3>
      <h3>{{ member.last_name }}</h3>
      <p>Position: {{ member.position }}</p>
      <p>From: Sioux City, IA</p>
      <p>Class: FR</p>
    </a>
  </li>
{% endfor %}
</ul>
<div class="clear"></div>
</section>
{% if table %}
<table class="table" >
  <thead>
    <tr>
      <th>Number</th>
      <th>Position</th>
      <th>Kind</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for member in roster %}
        <tr>
          <td>{{ member.number }}</td>
          <td>{{ member.position }}</td>
          <td>{{ member.kind }}</td>
          <td><a href="{% url user_details member.user.username %}">{{ member.full_name }}</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
