{% extends "base.html" %}

{% block title %}{{ team.name }}{% endblock %}

{% block main-content %}

{% if team %}
    <h2><a href="{% url team_details team.id %}">{{ team.name }} {{ team.mascot }}</a></h2>

    <p>
        {{ team.location }}
    </p>

    <h3>Roster</h3>
    {% include 'teams/roster.html' with roster=team.member_set.all %}
 
    {% include 'workouts/practices/practice_list_fragment.html' with practice_list=team.practice_set.all %}


{% else %}
    <p>Issue finding team details...</p>
{% endif %}

<div id="actions" class="actions">
  <a class="btn primary" href="{% url new_member team.id %}">New Team Member</a>
  <a class="btn primary" href="{% url update_team team.id %}">Edit Details</a>
</div>

{% endblock %}


