{% extends "base.html" %}

{% block title %}{{ user.full_name }} {% endblock %}

{% block main-content %}

<section id="user">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <ul>
      <li>
         Username: {{ user.username }}
      </li>
      <li>
         Email: {{ user.email }}
      </li>
      <li>
         Team: {% if team %}{{ team }}{% else %}None{% endif %}
      </li>
      <li>
         Kind: {% if member %}{{ member.kind }}{% else %}None{% endif %}
      </li>
    </ul>

</section>

<div id="actions" class="actions">
  {% if team %}
      <a class="btn primary" href="/teams/{{ team.id }}/">{{ team }}</a>
  {% else %}
      <a class="btn primary" href="{% url join_team %}">Join Team</a>
      <a class="btn primary" href="{% url create_and_join_team %}">Create Team</a>
  {% endif %}
</div>
{% endblock %}
