{% extends 'base.html' %}
{% block title %}Edit User{% endblock title %}

{% block main-content %}
<h2>Edit User</h2>
    <form class="form-stacked" method="post" action="{% url edit_user edit_user.username %}">
    {% csrf_token %}
    {{ form.as_p }}
 
<div id="actions" class="actions">
    <button class="btn primary" type="submit">Edit</button>
    <button class="btn danger" type="submit" name="delete" value="delete">Delete</button>
    <input type="hidden" name="next" value="{{ next }}" />
</div>
    </form>

{% endblock main-content %}

