{% extends "base.html" %}

{% block title %}{{ action|capfirst }} Player{% endblock %}

{% block main-content %}
    <h2>{{ action|capfirst }} Player</h2>
    {% if action == 'edit' %}
        <form action="{% url edit_member team.id member.id %}" class="form-horizontal" method="post">
    {% else %}
        <form action="{% url new_member team.id %}" class="form-horizontal" method="post">
    {% endif %}

        {% csrf_token %}
        {% include "fragments/fields.html" %}

        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
        </div>
</form>
{% endblock %}
