{% extends "base.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block main-content %}
<h2>Activity</h2>
{% if activity %}
<ul>
  <li>
    Team: {{ activity.team }}
  </li>
  <li>
    Name: {{ activity.name }}
  </li>
  <li>
    Kind: {{ activity.kind }}
  </li>
  <li>
    People: {{ activity.people_needed }}
  </li>
  <li>
    Location: {{ activity.location }}
  </li>
  <li>
    Instructions: {{ activity.instructions|safe }}
  </li>
  <li>
    Public: {{ activity.public }}
  </li>
  {% if activity.video %}
  <li>
      Instruction Video: 
      <a href="{{ activity.video }}" target="_blank" data-embed="true">Instructions</a>
      <div ><div id="player"></div></div>
  </li>
  {% endif %}
</ul>
{% else %}
    <p>No activities are available.</p>
{% endif %}
<div id="actions" class="form-actions">
  <a class="btn btn-primary" href="{% url edit_activity activity.id %}">Edit Activity</a>
  <a class="btn btn-primary" href="{% url new_activity %}">New Activity</a>
</div>
{% endblock %}

