{% extends "base.html" %}

{% block title %}{{ action|capfirst }} Activity{% endblock %}

{% block main-content %}
<h2>{{ action|capfirst }} Activity</h2>
{% if action == 'update' %}
<form action="/workouts/activities/{{ activity.id }}/{{ action }}/" class="form-stacked" method="post">
{% else %}
<form action="/workouts/activities/{{ action }}/" class="form-stacked" method="post">
{% endif %}
{% csrf_token %}
{{ form.as_p }}
    <div id="actions" class="actions">
    <button class="btn primary" type="submit" >Save</button>
    <a href="#" class="btn " >Cancel</a>
    </div>
</form>

{% endblock %}


