#body, body {
  font-size: 16px;
  position: relative;
}

#body form {
  margin-bottom: 0;
}

input.order {
  width: 25px;
}

#main-row {
  margin: 0 auto;
}

#notes {
  font-size: 15px;
  padding: 5px;
}

#messages {
  list-style: none;
  margin: 0;
}

#topbar a {
  color: white;
}

#body {
  .primary-blue, .secondary-blue, .blue {
    color: blue;
  }
  .primary-red, .secondary-red, .red {
    color: red;
  }
}

div.navbar-inner {
  border-radius: 0;
  &.primary-blue {
    border-top: 3px solid blue;
  }
  &.primary-red {
    border-top: 3px solid red;
  }
}

.blue-bg {
    background-color: blue;
    background-image: -moz-linear-gradient(center top , #0064CD, navy);
}

.red-bg {
    background-color: red;
    background-image: -moz-linear-gradient(center top , red, darkRed);
}

#calendar .date {
  border-top: 1px dotted #CCC;
  padding: 5px 0 0 2px;
}
#calendar .time {
  list-style: circle;
  padding: 5px;
}

#actions {
  border: 1px solid #DDDDDD;
  margin: 0;
}

footer {
  background-color: #EEE;
  border-radius: 0 0 10px 10px;
}

#page-footer {
  clear: both;
  margin-top: 0;
}

#roster {
  ul {
    margin: 0;
  }
  li {
    height: 140px;
    transition: all 0.4s ease-in-out 0s;
    &:after {
      -moz-transition: all 0.3s ease-in-out 0s;
      color: gray;
      content: attr(title);
      font-size: 80px;
      float: right;
      position: relative;
      top: -130px;
      opacity: .2;
      &:hover {
        content: attr(title);
        font-size: 80px;
        left: 50px;
        position: relative;
      }
    }
    &:hover {
      &:after {
        opacity: .8;
      }
    }
    a {
      height: 100%;
      color: #005580;
      padding-left: 10px;
      overflow: hidden;
      -moz-transition: all 0.3s ease-in-out 0s;
      &:hover {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        background-color: #EEE;
        text-decoration: none;
      }
      &:active {
        color: #005580;
      }
    }
  }
  /*.thumbnail:hover {
    border-color: black;
  }*/
}

#rosterOLD {
  ul {
    margin: 0;
  }
  li {
    border: 1px dotted grey;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    float: left;
    height: 130px;
    line-height: 18px;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    width: 130px;
    transition: all 0.4s ease-in-out 0s;
    &:after {
      -moz-transition: all 0.4s ease-in-out 0s;
      color: gray;
      content: attr(title);
      font-size: 80px;
      left: 50px;
      position: relative;
      top: -125px;
      opacity: .2;
      &:hover {
        -moz-transition: all 0.4s ease-in-out 0s;
        content: attr(title);
        font-size: 80px;
        left: 50px;
        position: relative;
        top: -125px;
      }
    }
    &:hover {
      background-color: #EEE;
      &:after {
        opacity: .8;
      }
    }
    a {
      color: #005580;
      &:hover {
        color: #005580;
        text-decoration: none;
      }
      &:active {
        color: #005580;
      }
    }
  }

}
.clear {
  clear: both;
}

div.ui-datepicker{
 font-size:12px;
}
