{% extends "base.html" %}

{% block title %}Individual{% endblock %}

{% block main-content %}
<h3>{{ workout.name }} - Individual</h3>

<div>
{% if individual.date_complete %}
Completed on <a href="/workouts/individuals/{{ individual.id }}/update/">{{ individual.date_complete }}</a>
{% else %}
Scheduled for <a href="/workouts/individuals/{{ individual.id }}/update/">
    {{ individual.date_suggested }} at {{ individual.time_suggested }}
</a>
</div>
{% endif %}
<p id="notes">Notes: 
  {{ individual.notes }}
</p>
    
<h3>Activities</h3>
{% include 'workouts/activities/list.html' with activities=workout.step_set.all %}
<div id="actions" class="actions">
  <a class="btn primary" href="/workouts/individuals/{{ individual.id }}/update/">Edit Individual</a>
  <a class="btn primary" href="/workouts/{{ workout.id }}/update">Edit Workout</a>
</div>

{% endblock %}


