{% extends "base.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block main-content %}
<h2>Activity</h2>
{% if activity %}
<ul>
  <li>
    Team: {{ activity.team }}
  </li>
  <li>
    Name: {{ activity.name }}
  </li>
  <li>
    Kind: {{ activity.kind }}
  </li>
  <li>
    People: {{ activity.people_needed }}
  </li>
  <li>
    Location: {{ activity.location }}
  </li>
  <li>
    Instructions: {{ activity.instructions }}
  </li>
</ul>
{% else %}
    <p>No activities are available.</p>
{% endif %}
<div id="actions" class="actions">
  <a class="btn primary" href="/workouts/activities/{{ activity.id }}/update/">Update Activity</a>
</div>
{% endblock %}

