{% extends "base.html" %}

{% block title %}Homie{% endblock %}

{% block main-content %}

{% if team %}
    <h2><a href="/teams/{{ team.id }}/">{{ team.name }} {{ team.mascot }}</a></h2>

    <h3>Roster</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/teams/{{ team.id }}/captain/" method="post">
    {% csrf_token %}
    {% for member in team.member_set.all %}
        <input type="radio" name="member" id="member{{ forloop.counter }}" value="{{ member.id }}" />
        <label for="member{{ forloop.counter }}">{{ member.full_name }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>

{% else %}
    <p>Issue find team details...</p>
{% endif %}

{% endblock %}

