{% extends "base.html" %}

{% block title %}Edit Workout{% endblock %}

{% block main-content %}
<h2>Edit Workout</h2>
<form action="{% url edit_workout workout.id %}" class="form-horizontal" method="post">
{% csrf_token %}
<fieldset>
{{ workout_form.as_p}}
    {% for s in steps %}
    <div class="clearfix">
      <label for="id_{{ forloop.counter }}-activities">Activities:</label>
      <input name="{{ forloop.counter }}-step_id" type="hidden" value="{{ s.id }}" />
      <div class="input">
        <select name="{{ forloop.counter }}-activities" id="id_{{ forloop.counter }}-activities">
          <option value="">---------</option>
          {% for a in activities %} {{ s }}
            <option value="{{ a.id }}" {% if s.activity == a %}selected="selected"{% endif %}>{{ a.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="clearfix">
      <label for="id_{{ forloop.counter }}-position">Position:</label>
      <div class="input">
        <input type="text" name="{{ forloop.counter }}-position" value="{{ s.position }}" id="id_{{ forloop.counter }}-position" />
      </div>
    </div>
    {% endfor %}

    <div class="clearfix">
      <label for="id_{{ next_step }}-activities">Activities:</label>
      <input name="{{ next_step }}-step_id" type="hidden" value="new" />
      <div class="input">
        <select name="{{ next_step }}-activities" id="id_{{ next_step }}-activities">
          <option value="">---------</option>
          {% for a in activities %} {{ s }}
            <option value="{{ a.id }}" {% if s.activity == a %}selected="selected"{% endif %}>{{ a.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="clearfix">
      <label for="id_{{ next_step }}-position">Position:</label>
      <div class="input"><input type="text" name="{{ next_step }}-position" value="{{ next_step }}" id="id_{{ next_step }}-position" />
      </div>
    </div>


</fieldset>
    <div id="actions" class="form-actions">
    <button class="btn btn-primary" type="submit" name="save">Save</button>
    <button class="btn btn-primary" type="submit" name="save" value="add_another">Save and Add More</button>
    <button class="btn btn-danger" type="submit" name="delete" value="delete">Delete</button>
    </div>
</form>

{% endblock %}

