{% extends "base.html" %}

{% block title %}Edit Workout{% endblock %}

{% block main-content %}
    <h2>New Workout</a>
    <form action="{% url edit_workout workout_id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.management_form }}

        {% include "fragments/fields.html" with form=workout %}
        {% include "fragments/fields.html" %}

        <div id="actions" class="form-actions">
            <button class="btn btn-primary" type="submit" >Save</button>
        </div>
    </form>
{% endblock %}
