<!doctype html>
{% block head %}
<head>
  <meta charset="utf-8">

  <title>Teams - {% block title %}?{% endblock title %}</title>
  {% block metadata %}
  <meta name="description" content="Teams is a team management and competition site. Coaches, managerm and captains, can track players workouts and encourage everyone to participate.">
  <meta name="author" content="Dustin Smith http://smith1024.com">
  {% endblock metadata %}

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  {% block mobile-viewport-optimization %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock mobile-viewport-optimization %}

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  {% block favicons %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">
  {% endblock favicons %}


  <!-- CSS: implied media="all" -->
  {% block base-styles %}
  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  {% if "i" == "" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}min_styles.css"> 
  {% else %} 
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style.less">
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}bootstrap.less">
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}responsive.less">
  <script src="http://lesscss.googlecode.com/files/less-1.2.1.min.js" type="text/javascript"></script>
  <!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">-->
  {% endif %}
  <link media="all" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css" rel="stylesheet">
  <link media="all" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/excite-bike/jquery-ui.css" rel="stylesheet">
  <!-- end CSS-->

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css">  -->
  {% endblock base-styles %}
</head>
{% endblock head %}
{% block body %}
<body id="body" class="row" >
  <div id="container" class="container">
    {% block header %}
    <div class="navbar navbar-fixed-top" id="navbar">
      {% if user.is_authenticated %}
        <div class="navbar-inner {{ user.team.color }}">
      {% else %}
        <div class="navbar-inner">
      {% endif %}
        <div class="container">
          {% if user.is_authenticated %}
              <a class="brand" href="/workouts/mine">Workouts</a>
          {% else %}
              <a class="brand" href="/login">Login</a>
              <a class="brand" href="/signup">Signup</a>
          {% endif %}
          {% if user.is_authenticated %}
            <nav>
              <ul class="nav">
                <li class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.first_name }}
                  <b class="caret"></b></a>
                  <ul class="dropdown-menu {{ user.team.color }} ">
                    <li><a href="/teams/mine">My Team</a></li>
                    <li><a href="/workouts/mine">My Workouts</a></li>
                    <li><a href="/users/{{ user.username }}">My Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                <li class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team<b class="caret"></b></a>
                  <ul class="dropdown-menu {{ user.team.color }} ">
                    <li><a href="/teams/">Teams</a></li>
                    <li><a href="/workouts">Workouts</a></li>
                    <li><a href="/workouts/activities">Activities</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock header %}
    <div class="row">
    <div id="main" class="span12" role="main" >
      {% if messages %}
        <div id="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% block main-content %}
        <div id="main-content">

        </div>
      {% endblock main-content %}
    </div>

    {% block footer %}
    {% if user.is_authenticated %}
    <footer id="footer">
      <nav>
        <ul>
          <li><a class="btn" href="/teams/">Teams</a></li>
          <li><a class="btn" href="/teams/mine">My Teem</a></li>
          <li><a class="btn" href="/workouts">Workouts</a></li>
          <li><a class="btn" href="/workouts/mine">My Workouts</a></li>
          <li><a class="btn" href="/workouts/activities">Actvities</a></li>
        </ul>
      </nav>
    </footer>
    {% endif %}
    {% endblock footer %}
  </div> <!--! end of #container -->
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  {% block js-libs %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.0.min.js">\x3C/script>')</script>
  {% endblock js-libs %}


  <!-- scripts concatenated and minified via ant build script-->
  {% block my-js %}
  <script src="{{ STATIC_URL }}bootstrap-dropdown.js"></script>
  {% endblock my-js %}
  <!-- end scripts-->

  <!-- Change UA-XXXXX-X to be your site's ID -->
  {% block google-analytics %}
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endblock google-analytics %}

  <script>
	$(function() {
                $("input[data-js-widget='datepicker']").datepicker();
	});
  </script>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
{% endblock body %}
</html>
