{% extends "base.html" %}

{% block title %}Learn More{% endblock %}

{% block main-content %}
<div class="hero-unit">
  <h1>How can we help you?</h1>
  <p>
  We on Three provides management tools for your team.  
  Keep track of your practice plans, workouts, and schedule all in one place.  
  Manage team communication with text messages, emails, and notifications to everyone thats needs to know.
  </p>
  <p>
  Real world examples:
  <ul>
    <li>
    Need to make last minute workout time changes? Just update the schedule and text messages are automatically sent out to all team members.
    </li>
    <li>
    Changing workout locations?  Broadcast out the workout location and plan so players always come prepared.
    </li>
    <li>
    Need to track player progressions throughout the year?  Store and review individual workout notes and feedback with your team.
    </li>
    <li>
    Allow players easy access to communicate when something comes up. No excuses.
    </li>
  </ul>
  </p>
  <p>
  Currently we are in private beta, but if your interested in helping us build and test our services please contact us at 
  <a href="mailto:dds1024@gmail.com">dds1024@gmail.com</a> or on Twitter <a href="https://twitter.com/weonthree">@WeOnThree</a></p>
  </p>
</div>
    {% endblock %}
