{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block main-content %}
* Create players by players/new*
* Need to extend this form to create coaches *
    <form class="form-stacked" method="post" action="{% url views.signup %}">
    {% csrf_token %}

    {{ form.as_p }}
    {{ extension.as_p }}
 
<div id="actions" class="actions">
    <input class="btn primary" type="submit" value="Sign Up" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>
    </form>

{% endblock main-content %}

